.App {
  text-align: center;
  margin: 40px 60px;
  height: 90vh;
}

.comments-container {
  padding: 20px;
  height: 100%;
  background: #d5d5e5;
}

.input-container {
  width: 93%;
  height: 30px;
}

.button-container {
  height: 36px;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}