.App {
  text-align: center;
  margin: 40px 60px;
  min-height: 90vh;
}

.root-container {
  padding: 20px;
  height: 100%;
  background: #d5d5e5;
}

.input-container {
  width: 92%;
  height: 30px;
}

.button-container {
  height: 36px;
  cursor: pointer;
  background: #a1a1e6;  
  border: none;
  width: 40px
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-container {
  margin: 20px 10px;
  text-align: left;
}

.comment {
  background-color: #c6c6e8;  
  padding: 12px;
  
}

.user-name {
  font-size: 12px;
  color: #5252ef;
}

.cursor {
  cursor: pointer;
}